@import url('http://fonts.cdnfonts.com/css/valorant');
body {
  margin: 0;
  padding:0;
  font-family: 'Source Sans Pro',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo{
  font-family: 'VALORANT', sans-serif;
  font-size: larger;
  color:#ECE8E1;
}
.header{
  width:100%;
  background-color: black;
  padding: 1.5em;
  position: absolute;
}

#wrapper{
  display: flex;
  justify-content: space-between; 

} 
p{
   background-size:cover;
   height: 100vh;
   width:60vw;
}
.search{
  margin: 10rem 0rem 0rem 10rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  width: 100%;
  position:initial;
  display: flex;
  justify-content: space-evenly;
}

/* ///////////////////////// */
.characters{
  display:grid;
  grid-template-columns:10em 10em 10em 10em ;
  padding: 1rem;
}

.chara-display{
  display: flex;
  align-items: center;
  width: 100vw;
}
.container {
  position: relative;
  width: 6rem;
  margin:1rem;

}
.image {
  display:block;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #929798;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  font-family: 'VALORANT', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#characterBar,#searchbutton{
  margin:1rem;
  padding:1rem;
  border-radius: 20px;
}

#characterBar{
  width: 15rem;
}